
header {
    -webkit-justify-content: space-around;
    background-color: #063713;
    box-shadow: 0 2px 3px #999;
    height: 50px;
    justify-content: space-around;
    padding:3px 0;
    width: 100%;
}

header form {
	align-items: center;
	-webkit-align-items: center;
	justify-content: flex-end;
    -webkit-justify-content: flex-end;
	height: 45px;
	width: 55%;
}
header, header form {
	display: -webkit-flex;
    display: flex;
}
header form input {
	background-color: #296639;
	border-radius: 0px;
	border: none;
	color: #ddd;
	font-size: 17px;
	height: 0;
	margin-top: 0px;
	outline-color: transparent;
	transition: width .25s ease-in-out, height .25s ease-in-out;
	width: 0;
}
header form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
header form input::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
header form input:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
header form input:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

.search-box-visible {
	height: 29px;
	padding: 5px;
	transition: width .25s ease-in-out, height .25s ease-in-out;
	width: 100%;

}
.search {
	height: 26px;
	padding-top: 9px;
	width: 26px;
	visibility: hidden;
}

.search-visible {
	visibility: visible;
}