
header {
    -webkit-justify-content: space-around;
    background-color: #296639;
    box-shadow: 0 2px 3px #999;
    display: -webkit-flex;
    display: flex;
    height: 50px;
    justify-content: space-around;
    padding:3px 0;
    width: 100%;
}

header form {
	height: 45px;
	width: 55%;
}

header form input {
	border-radius: 2px;
	border: none;
	font-size: 17px;
	height: 29px;
	margin-top: 8px;
	outline-color: transparent;
	width: 0;
}

.search-box-visible {
	width: 100%;
	padding: 5px;

}
header div#logo {
	height: 40px;
	margin-top: 2px;
	width: 57px;
}