.site-nav {
	background-color: #063713;
	height: 100vh;
	transition: width .5s;
	width: 0px;
}
.site-nav-show {
	width: 250px;
	z-index: 2;
}
.site-nav, .site-nav-show {
	transition: width .5s;
}
.site-nav ul {
	margin-left: -250px;
}
.site-nav-show ul {
	margin-left: 20px;
}
.site-nav ul, .site-nav-show ul {
	list-style-type: none;
	margin-top: 55px;
	padding: 0;
	transition: margin .5s;
}
.site-nav ul li {
	color: white;
	font-size: 20px;
	margin-bottom: 15px;
}
.site-nav ul li:nth-child(3) {
	margin:0;
}
