.site-nav {
	background-color: #063713;
	height: 100vh;
	transition: width .5s;
	width: 0px;
}
.site-nav-show {
	width: 250px;
	z-index: 2;
}
.site-nav, .site-nav-show {
	transition: width .5s;
}
.site-nav ul {
	margin-left: -250px;
}
.site-nav-show ul {
	margin-left: 20px;
}
.site-nav ul, .site-nav-show ul {
	list-style-type: none;
	margin-top: 55px;
	padding: 0;
	transition: margin .5s;
}
.site-nav ul li {
	font-size: 20px;
	margin-bottom: 25px;
}
.site-nav ul li:nth-child(2) {
	margin-bottom: 0;

}
.site-nav ul li:nth-child(1) {
	background: url('https://barbastark.github.io/Nutrition-calculator/img/home(1).png');
	background-repeat: no-repeat;
}
.site-nav ul li a {
	color: #fff;
	text-decoration: none;
}
