
#nav-icon {
  height: 30px;
  margin: 0;
  position: relative;
  width: 40px;
  left: 3px;
  top: 9px;
  z-index: 2;
}

#nav-icon span {
  background: #fff;
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  width: 50%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#nav-icon span:nth-child(even) {
  border-radius: 0 2px 2px 0;
  left: 50%;
}

#nav-icon span:nth-child(odd) {
  border-radius: 2px 0 0 2px;
  left:0px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 0px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 11px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 22px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 6px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 6px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 16px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 16px;
}
@media screen and (min-width:768px) {
  #nav-icon {
    left: 10px;
    top: -35px;
  }
  #nav-icon:hover {
    cursor: pointer;
  }
}
